[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "saeHB.spatial"]
	path = saeHB.spatial
	url = https://github.com/arinams/saehb.spatial
	shallow = true
	registered = true
